/**
 * Button component styles
 * Uses Tailwind utilities and design tokens for consistent styling
 */

/* Tailwind moderate, components, and utilities */
@import "./base.css";

@layer components {
  .button {
    /* Dim the button color */
    --button-action-factor: 0.85;

    @variant dark {
      --button-action-factor: 1.15;
    }

    --button-action-color: oklch(
      from var(--box-background-color) calc(l * var(--button-action-factor))
        calc(c * var(--button-action-factor)) h
    );

    @apply max-w-full;
    @apply inline-flex;
    @apply items-center;
    @apply justify-center;
    @apply gap-xs;
    @apply wrap-anywhere;
    @apply align-bottom;
    @apply cursor-pointer;
    @apply transition-[background-color,box-shadow,--tw-ring-offset-color,--tw-ring-offset-width];
    @apply duration-200;

    @apply ring-0;
    @apply ring-offset-(--box-background-color);

    @apply focus:outline-lg;
    @apply focus:outline-offset-2xs;

    @apply focus-visible:outline-lg;
    @apply focus-visible:outline-offset-2xs;

    &.button--disabled,
    &:disabled {
      @apply bg-disabled-moderate;
      @apply text-disabled-emphasis;
      @apply cursor-not-allowed;
    }

    &:not(.button--disabled, :disabled) {
      @apply active:ring-offset-2xs;
      @apply active:ring-offset-(--button-action-color);

      @apply hover:ring-offset-3xs;
      @apply hover:ring-offset-(--button-action-color);

      @apply hover:active:ring-offset-2xs;

      &:not(.button--outline) {
        @apply ring-(--button-action-color);

        @apply active:bg-(--button-action-color);

        @apply hover:bg-(--button-action-color);

        @apply hover:active:bg-(--button-action-color);
      }
    }

    &.button--outline {
      @apply bg-transparent;
      @apply text-inherit;
      @apply inset-ring-(--box-background-color);
      @apply ring-offset-(--box-background-color);

      @apply active:ring-offset-3xs;
      @apply active:inset-ring-(--button-action-color);

      &.button--disabled,
      &:disabled {
        @apply bg-disabled-moderate;
        @apply text-disabled-emphasis;
        @apply cursor-not-allowed;
      }

      &:not(.button--disabled, :disabled) {
        @apply inset-ring-md;

        @apply hover:inset-ring-(--button-action-color);

        @apply hover:active:ring-offset-2xs;
      }
    }

    &.button--3xs {
      @apply px-3xs;
    }

    &.button--2xs {
      @apply px-2xs;
    }

    &.button--xs {
      @apply px-xs py-3xs;
    }

    &.button--sm {
      @apply px-sm py-2xs;
    }

    &.button--md {
      @apply px-md py-xs;
    }

    &.button--lg {
      @apply px-lg py-sm;
    }

    &.button--xl {
      @apply px-xl py-md;
    }

    &.button--2xl {
      @apply px-2xl py-lg;
    }

    &.button--3xl {
      @apply px-3xl py-xl;
    }

    &.button--4xl {
      @apply px-4xl py-2xl;
    }

    &.button--5xl {
      @apply px-5xl py-3xl;
    }
  }
}
